@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}
/* designing the image input button */
.image_input_btn{
    width: 150px;
    height: 150px;
    cursor: pointer;
   
}

.image_input_btn>i{
    vertical-align: middle;
}

.image_preview{
    width: 400px;
    height: 400px;
}

.image_preview>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.alert-box{
    z-index: 500;
}

.loader{
    width: 100%;
    height: 100vh;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50000;
    display: none;
    justify-content: center;
    align-items: center;

}

#desies-name{
    word-wrap: break-word;
}